@font-face {
  font-family: 'riimonakablacktestlight';
  src: url('./fonts/RiiMonaka/riimonakablt-webfont.woff2') format('woff2'),
       url('./fonts/RiiMonaka/riimonakablt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("./assets/background.png") no-repeat -10px 100%;
  height: 100vh;
  width: 100%;
}

.comingSoon {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding-top: 20%;
  top: 300px;
  font-family: "riimonakablacktestlight";
  color: #242F4F;
  font-size: 36px;
}

.comingSoon img {
  width: 500px;
}

